{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-lg-6">
            <div class="box-element" id="form-wrapper">
                <form id="form">
                    <div id="user-info">

                    </div>
                    <div id="shipping-info">

                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="box-element">

            </div>
        </div>

    </div>
{% endblock content %}